/* delete below later if unnecessary  */
/* #game {
  perspective: 1000px;
} */

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  backface-visibility: hidden;
}

#game div:active {
  transform: scale(0.97);
}

#game div:hover {
  border: 3px solid black;
}

#game div-front {
  transform: rorateX(180deg);
}

h1 {
  text-align: center;
  font-size: 3rem;
}
